apiVersion: apps/v1
kind: Deployment
metadata:
  name: staliaswarden
  namespace: stalwart
  labels:
    app.kubernetes.io/name: staliaswarden
spec:
  replicas: 1
  selector:
    matchLabels:
      app.kubernetes.io/name: staliaswarden
      app: staliaswarden
  template:
    metadata:
      labels:
        app.kubernetes.io/name: staliaswarden
        app: staliaswarden
    spec:
      securityContext:
        runAsNonRoot: true
        seccompProfile:
          type: RuntimeDefault
      containers:
        - name: staliaswarden
          image: ghcr.io/goingdark-social/staliaswarden:main-e7962a1
          imagePullPolicy: IfNotPresent
          env:
            - name: PORT
              value: "3000"
            - name: STALWART_URL
              value: "http://stalwart.stalwart.svc.cluster.local:8080/api"
          ports:
            - name: http
              containerPort: 3000
              protocol: TCP
          securityContext:
            allowPrivilegeEscalation: false
            capabilities:
              drop:
                - ALL
          resources:
            requests:
              cpu: 50m
              memory: 64Mi
            limits:
              cpu: 100m
              memory: 128Mi